.h2Title {
  margin-top: 10px;
  margin-bottom: 0;
}

/* ToDo: configure contact info table for mobile device
Check if screen width
.tdContact .thContact{
    display: table-row;
    white-space: nowrap;
    width: 100%;
  }
*/
.tblContact img {
  height: 21px;
}

.tblEducation, .tblInvolvement {
  width: 0;
}

.tblEducationEntry, .tblInvolvementEntry {
  margin-right: 25px;
  vertical-align: top;
}

.h3Employer, .h3Location {
  margin: 0;
}

.section {
  margin-top: 15px;
  margin-bottom: 0;
}

td {
  vertical-align: top;
}

ul {
  /* Details */
  margin-top: 0;
  margin-bottom: 0;
}
